<section class="oe_container oe_dark">
    <div align="left" class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_span6 text-left">
                <img class="oe_picture oe_screenshot" src="logo.png">
            </div>
        </div> 
        <div class="oe_span6">
            <h2 class="oe_slogan text-right">Custom Sale Order SITI</h2>
        </div>
    </div>
</section>