#stock_picking_interface_body{
    background: url("../img/Background-SITI-full.jpg") no-repeat center center fixed;
    height: auto;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll; 
    padding-right: 0px !important;
}

.o_stock_interface_kiosk_mode {
    text-align: center;
    padding: 2em;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    font-size: 1.2em;
    position: relative;

    @media (max-width: @screen-xs-max) {
        margin-top: 30%;
        height: 20em;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-top: 30%;
        height: 16em;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-top: 16.5%;
    }
    @media (min-width: @screen-lg-min) {
        margin-top: 11%;
    }


    @media (max-width: @screen-xs-max) and (orientation: landscape) {
        margin-top: 10%;
        height: 20em;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) and (orientation: landscape) {
        margin-top: 10%;
        height: 16em;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) and (orientation: landscape) {
        margin-top: 16.5%;
    }
    @media (min-width: @screen-lg-min) and (orientation: landscape){
        margin-top: 11%;
    }
}

#kiosk_mode_product {
    margin-top: 10px;

    @media (max-width: @screen-xs-max) {
        height: 24em;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        height: 20em;
    }
}

.o_stock_interface_kiosk_clock {
    font-size: 1.5em;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.5);
    padding: 3px 10px 3px 10px;

    @media (min-width: @screen-xs-max) {
        flex: 0 0 auto;
        position: relative;
        margin-top: 5%;
        width: auto;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        flex: 0 0 auto;
        position: relative;
        margin-top: 5%;
        width: auto;
    }
    @media (min-width: @screen-lg-min) {
        position: fixed;
        top: 3%;
    }
}

.o_stock_interface_kiosk_clock_product {
    font-size: 1.5em;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.5);
    padding: 3px 10px 3px 10px;

    @media (max-width: @screen-xs-max) {
        margin-top: 8%;
        height: 24em;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-top: 8%;
        height: 24em;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-top: 8%;
    }
    @media (min-width: @screen-lg-min) {
        margin-top: 8%;
    }
}


.border_radius {
    border-radius: 10px 10px;
}

#modal_rounded {
    border-radius: 15px;
}

.btn_stock_kiosk {
    background-color: #3c6c85;
    color: #D3D3D3;
    font-size: 16px;
    margin-top: 2%;

    @media (max-width: @screen-xs-max) {
        margin-top: 15%;
        font-size: 14px;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-top: 15%;
        font-size: 14px;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-top: 2%;
    }
    @media (min-width: @screen-lg-min) {
        margin-top: 2%;
    }

}

.btn_stock_kiosk:hover {
    background-color: #194055;
    color: #D3D3D3;
}

.blue-text {
    color: #3c6c85;
}

.main-nav {
    background-color: rgba(255, 255, 255, 0.8);
}

#search_product {
    background-color: rgba(255, 255, 255, 0.8);
    @media (max-width: @screen-xs-max) {
        width: 70%;
        display: inline;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 85%;
        display: inline;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        width: 90%;
        display: inline;
    }
    @media (min-width: @screen-lg-min) {
        width: 90%;
        display: inline;
    }
}

#validate_btn {
    background-color: #3c6c85;  
    color: #D3D3D3;
    font-size: 15px;
    width: 65%;
}

#validate_btn:hover {
    color: white;
    background-color: #194055;
}

.blue_button {
    color: white;
    background-color: #3c6c85;
}

.blue_button:hover {
    background-color: #194055;
    color: #D3D3D3;
}

#cancel_btn {
    background-color: #969696;  
    color: #D3D3D3;
    font-size: 15px;
    width: 65%;
}

#cancel_btn:hover {
    background-color: #393939;  
}

.action_element {
    @media (max-width: @screen-xs-max) {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    @media (min-width: @screen-lg-min) {
        margin-top: 2%;
        margin-bottom: 2%;
    }
}

.kiosk_bottom {
    width: 100%;
    @media (max-width: @screen-xs-max) {
        position:fixed;
        bottom: 1%;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        position:fixed;
        bottom: 1%;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        position:fixed;
        bottom: 1%;    
    }
    @media (min-width: @screen-lg-min) {
        position:fixed;
        bottom: 1%;
    }
}

.bottom_product {
    width: 100%;
    position:relative;
    @media (max-width: @screen-xs-max) {
        margin-top:10px
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-top:10px
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        margin-top:10px
        
    }
    @media (min-width: @screen-lg-min) {
        margin-top:10px
        
    }
}

#product_table {
    height: 250px;
    width: 100%;
    overflow: scroll;
    @media (max-width: @screen-xs-max) {
        padding-left:0px;
        height: 165px;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        padding-left:0px;
        height: 165px;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        height: 250px;
    }
    @media (min-width: @screen-lg-min) {
        height: 250px;
    }
    
}

.img_logo {
    @media (max-width: @screen-xs-max) {
        width: 45%;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        width: 30%;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        width: 30%;
    }
    @media (min-width: @screen-lg-min) {
        width: 20%;
    }
    
}

.gray_jumbotron{
    background-color: #b4b4b4;
}

.blue_jumbotron{
    background-color: #5e9cc1;
}

.white_text{
    color: #ffffff;
}

.wrap_text {
     word-wrap: break-word;
}

.gray_btn {
    background-color: #969696;  
    color: #D3D3D3;
    font-size: 15px;
    width: 60%;
}

.gray_btn:hover {
    background-color: #393939;  
    color: #D3D3D3;
}

#serial_number {
    background-color: rgba(255,255,255,0.8);
}

.modal-confirm {
    color: #434e65;
    width: 525px;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    background: #3c6c85;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #eeb711;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645;
    outline: none;
}
.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}
.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}

#alerts_container {
    background-color: #b21717;
    color: #fff;
    position: fixed;
    width: 23%;
    right: .5%;
    top: 8%;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 15px;
    word-wrap: break-word;
    opacity: 0;
    z-index: 10000;
}

.btn-quantities {
    border-radius: 40px;
    background-color: white;
    color: #3c6c85
}

.btn-quantities:hover {
    border-radius: 40px;
    background-color: #C5C5C5;
    color: #3c6c85
}

#button_add_qty {
    position: absolute;
    @media (max-width: @screen-xs-max) {
        right: 7px;
        bottom: 7px;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        right: 135px;
        bottom: 7px;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        right: 65px;
    }
    @media (min-width: @screen-lg-min) {
        right: 65px;
    }
    
}

#button_remove_qty {
    position: absolute;
    @media (max-width: @screen-xs-max) {
        left: 20px;
        bottom: 7px;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        left: 20px;
        bottom: 7px;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        left: 65px;
    }
    @media (min-width: @screen-lg-min) {
        left: 65px;
    }
}

#qty_done_modal {
    margin-left: 50%;
    @media (max-width: @screen-xs-max) {
        margin-left: 50%;
        font-size: 15px;
    }
}

#btn_clear_search_input {
    margin-bottom: 3px;
}

.mobile-text {
    word-wrap: break-word;
    @media (max-width: @screen-xs-max) {
        font-size: 13px;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        font-size: 13px;
    }
}

#invoice_number {
    @media (max-width: @screen-xs-max) {
        margin-top: 10%;
        font-size: 11px;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-top: 12px;
        font-size: 12px;
    }
}

.action_buttons {
    width: 100%;
    margin-top: 0%;
    @media (max-width: @screen-xs-max) {
        margin-top: 6%;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        margin-top: 6%;
    }
}

#spi_name {
    font-weight: bolder;
}

.add_substract_buttons {
    @media (max-width: @screen-xs-max) {
        font-size: 13px;
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        font-size: 13px;
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
       font-size: 15px;
       margin-top: 4.7%;
    }
    @media (min-width: @screen-lg-min) {
        font-size: 15px;
        margin-top: 4.7%;
    }
}
